language: python
python:
  - "3.5"
install:
  - travis_retry pip install -r test/requirements.txt
  - travis_retry pip install coveralls
  - travis_retry pip install -e .
script: py.test --cov=pymap
after_success:
  - coveralls
