-r requirements-all.txt

invoke
build
mypy
flake8
flake8-annotations
flake8-bugbear
autopep8
bandit[toml]
pytest
pytest-asyncio
pytest-cov
rope

# stubs
types-certifi
types-protobuf
types-redis
types-toml
types-passlib
